
act-03/alt-project-folder/index.html
act-03/alt-project-folder/js/main.js
act-03/final-idea-folder/scripts/baffle.min.js
act-03/final-idea-folder/webpages/scripts/mainFrameIndex.js
act-03/project-folder/css/main.css
act-03/project-folder/images/alley.jpg
act-03/project-folder/index.html
act-03/project-folder/js/main.js
act-03/project-folder/p5.gui/
indexAllActs/css/fonts/Ortica-Light.woff
indexAllActs/css/main.css
indexAllActs/index.html
indexAllActs/js/main.js
indexAllActs/pages/act01_sources.html
indexAllActs/pages/act1sources/act01_sources.html
indexAllActs/pages/act1sources/css/main.css
poster-11-16-2019/
scrape-test/overload_scroll.html
scrape-test/scripts/scrape-reddit.js
