/*@font-face {
      font-family: "NeueMachina";
      src: url("fonts/NeueMachina-Regular.otf");
}

@font-face {
      font-family: "NeueMachina Light";
      src: url("fonts/NeueMachina-Light.otf");
}*/

@font-face {
      font-family: "Berlingske Reg";
      src: url("fonts/Berlingske-Serif-Text-Regular-Typeface.ttf");
}

@font-face {
      font-family: "Berlingske Italic";
      src: url("fonts/Berlingske-Serif-Italic-Typeface.ttf");
}

@font-face {
      font-family: "Berlingske Medium";
      src: url("fonts/Berlingske-Serif-Medium-Typeface.ttf");
}

body, html {
	margin: 0;
      height: 100vh;
      width: 100vw;
      font-family: 'Berlingske Medium', serif;
      display: flex;
      overflow: hidden;
}

body {
      /*margin: 10px;*/
      
      padding-left: 0.5em;
      padding-right: 0.5em;
      background-color: black;
      overflow: visible;
      
}

.titleA:hover {
      font-family: "Berlingske Italic", serif;
}

.titleB:hover {
      font-family: "Berlingske Italic", serif;     
}

.titleC:hover {
      font-family: "Berlingske Italic", serif;
}

.titleA {
       position: absolute;
       line-height: 1.3em;
       width: 12em;
       left: 2.5vw;
       top: 5vh;
       color: white;
       font-size: 8.5vw;
       overflow: hidden;
       background:transparent;
       
}

.titleB {
       position: absolute;
       width: 10em;
       left: 73vw;
       top: 50vh;
       color:white;
       font-size: 8.5vw;
       overflow: hidden;
       background:transparent;
       
}

.titleC {
       position: absolute;
       width: 10em;
       left: 2.5vw;
       top: 80vh;
       color:white;
       font-size: 8.5vw;
       overflow: hidden;
       background:transparent;
       
}
