@font-face {
      font-family: "Woodland";
      src: url("fonts/PPWoodland-Regular.otf");
}

body, html {
	    margin: 0;
      font-family: 'Woodland', serif;
      display: flex;
      overflow: hidden;
}

body {
      /*margin: 10px;*/
      height: 100%;
      width: 100%;
      padding-left: 0.5em;
      padding-right: 0.5em;
      background-color: white;
      overflow: visible;
      
}

a:link, a:visited, a:active, a:hover {
      color: black;
      mix-blend-mode: difference;
      text-decoration: none;
}

.text {
       position: absolute;
       width: 15em;
       left: 5vw;
       top: 8vh;
       color: black;
       font-size: 1vw;
       overflow: hidden;
       background:transparent;
       
}
